<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Index</title>
</head>
<body>
    <h1>Recipe Box!</h1>
    <{% for recipe in recipes %}
        <li><a href='recipe/{{ recipe.id }}'>{{ recipe.title }}</a></li>
        <li><a href='editrecipe/{{ recipe.id}}'>edit</a></li>
    {% endfor %}
    </ul>
    <a href="/addRecipe/">
    <button>Add Recipe</button>
    </a>
    <a href="/addAuthor/">
    <button>Add Author</button>
    </a>
</body>
</html>
