<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Index</title>
</head>
<body>
    <a href="{{ sign_in_button_link }}">
        <button> {{sign_in_button_label}}</button>
    </a>
    
    <h1>Recipe Box!</h1>
    <br/>
    <ul>
        {% for recipe in recipes %}
        <li><a href='recipe/{{ recipe.id }}'>{{ recipe.title }}</a></li>
        {% if request.user.is_authenticated %}
        <li><a href='editrecipe/{{ recipe.id}}'>edit</a></li>
        {% endif %}
    {% endfor %}
    </ul>
        <ul>
            <div id="top_menu">
                <a href="/newRecipe/">
                    <button>Add Recipe Here</button>
                </a><p>
                <a href="/newAuthor/">
                    <button>Add Author Here</button>
                </a>
            </div>
        </ul>

        <u>
            Are you logged in? {{ request.user.is_authenticated }}
        </u>
    </ul>

</body>
</html>
