<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Index</title>
</head>
<body>
    <h1>Recipe Box!</h1>
    <ul>
        {% for recipe in recipes %}

        <li>
            <a href="/recipe/{{recipe.id}}">{{ recipe.title }} | by {{ recipe.author }}</a>
        </li>

        {% endfor %}
    </ul>
        <ul>
            <div id="top_menu">
                <a href="/recipeadd">
                    <button>Add Recipe Here</button>
                </a><p>
                <a href="/authoradd">
                    <button>Add Author Here</button>
                </a>
            </div>
        </ul>

        <u>
            Are you logged in? {{ request.user.is_authenticated }}
        </u>
    </ul>

</body>
</html>